@media (max-width: 1440px) {
    .hero img {
        right: -149px;
    }
}
@media (max-width: 1200px) {
    .hero img{
        right: -29px;
    }
}
@media (max-width: 1024px) {
    .container{
        width: 90%;
    }
    .navbar a{
        margin: 0 15px;
    }
    .hero img{
        width: 50%;
        right: -5%;
    }
    .product-block img{
        width: 100%;
    }
    .team-img {
        display: flex;
    }
    .team-img img{
        width: 50%;
    }
    .team-block h1 {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .team-photo p{
        font-size: 12px;
    }
    .team-photo button {
        font-size: 12px;
        margin: 10px 0 0 10px;
    }
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .navbar-navigation{
        display: none;
    }
    .products-title h1 {
        font-size: 28px;
    }
    .products-title button {
        font-size: 12px;
        width: 213px;
        height: 37px;
    }
    .product-block h1{
        font-size: 15px;
    }

    .product-block p {
         font-size: 13px;
         line-height: 20px;
     }
    .product-block h2{
        font-size: 12px;
    }
    .fast-block img{
        width: 100%;
    }
    .arka-block img{
        width: 100%;
    }
    .arka-block{
        margin: 0 15px;
    }
    .arka p{
        font-size: 12px;
    }
    .could-block h1 {
        font-size: 18px;
    }
    .could-block p {
        font-size: 12px;
        line-height: 20px;
    }
    .could-block button {
        font-size: 12px;
        width: 180px;
        height: 35px;
    }
    .team-block h1 {
        font-size: 15px;
        line-height: 21px;
    }
    .team-photo button {
        margin: 10px 0 0 0;
    }
    .footer-nav a {
        font-size: 12px;
        margin-bottom: 15px;
    }
}
@media (max-width: 576px) {
    #hero{
        min-height: 70vh;
    }
    .hero-title h1 {
        margin: 90px 0 30px 0;
        font-size: 27px;
        line-height: 37px;
    }
    .shopify {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .shopify-content{
        margin: 0 15px;
    }
    .shopify-content h1{
        margin-left: 2px;
    }
    .products-title button {
        width: 182px;
        height: 33px;
    }
    .products-title h1 {
        font-size: 20px;
    }
    .product-block p {
        font-size: 12px;
        line-height: 15px;
    }
    .product-block h2{
        line-height: 20px;
        margin: 20px 0;
    }
    .product-block{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        width: 90%;
    }
    .fast{
        height: 100%;
        padding: 50px 0;
        flex-direction: column;
    }
    .fast h1{
        font-size: 16px;
    }
    .fast-block{
        width: 50%;
        border-bottom: 2px solid black;
    }
    .fast h2{
        font-size: 22px;
    }
    .fast button{
        margin-top: 20px;
    }
    .arka{
        flex-direction: column;
        text-align: center;
    }
    .arka h1 {
        font-size: 18px;
        margin: 1px 0 10px 0;
    }
    .could{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .could-block{
        width: 90%;
        margin: 15px 0;
    }
    .line{
        position: absolute;
        transform: rotate(90deg);
        height: 400px;
    }
    .merchants-team{
        flex-direction: column;
    }
    .team-block{
        margin: 10px 70px 10px 70px;
    }
    .footer{
        padding: 20px 0;
    }
    .footer-nav{
        display: none;
    }
    .google img{
        width: 80%;
        margin-left: 20px;
    }
}

@media (max-width: 451px) {
    .hero-title{
        z-index: 5;
    }
    .hero-title h1{
        font-size: 20px;
    }
    .arka-title{
        font-size: 18px;
    }
    .fast button{
        font-size: 12px;
        width: 180px;
        height: 30px;
    }
    .line{
        height: 310px;
    }
    .team-block{
        margin: 10px  35px;
    }
    .merchants-title {
        font-size: 20px;
        padding: 90px 0 35px 0;
    }
    .lets button {
        margin: 0 5px 41px 5px;
        font-size: 12px;
        width: 180px;
        height: 30px;
    }
}

@media (max-width: 320px) {
    .team-block h1{
        font-size: 12px;
    }
    .merchants-team{
        margin-top: 20px;
        border-bottom: 2px solid gray;
    }
    .team-block{
        margin: 10px 25px;
    }
}
